accelerate==1.5.2
bitsandbytes==0.45.5
blobfile==3.0.0
cmake==3.31.6
Cython==3.0.12
datasets==3.5.0
faiss-cpu==1.10.0
ipykernel==6.29.5
langchain-community==0.3.19
langchain-huggingface==0.1.2
langchain-openai==0.3.8
langchain-google-genai==2.0.10
google-generativeai==0.8.5
pip==25.0.1
pypdf==5.3.1
python-dotenv==1.1.0
ragas[metrics]==0.2.14
sentence-transformers==3.4.1
sentencepiece==0.2.0
streamlit-modal==0.1.2
wheel==0.45.1
